* {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #2597F4;
}

header img {
    display: inline;
    margin-left: 10%;
    color: #f7f7f7;
}

nav {
    position: fixed;
    width: 100%;
    display: inline;
    margin-top: 0.3%;
}

nav a {
    margin-left: 8%;
    text-align: center;
    text-decoration: none;
}

#inicio {
    margin-left: 20%;
}

nav a:link{
    color: #f7f7f7;
}

nav a:hover{
    color: orange;
}

section {
    background-color: #f7f7f7;
    border: solid;
    border-color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px gray;
    margin: 3% 10%;
}

.contenedorInicio {
    display: flex;
    margin-top: 6%;
}

.textoSeccion {
    margin-top: 3%;
    margin-left: 3%;
    /* border: solid #2597F4; */
}

.textoSeccion p {
    margin-top: 5%;
}

.imagenSeccion{
    /* border: solid; */
    margin: 1% 10% 1% 1%;
    /* border-color: #2597F4; */
    padding: 3%;
}

.mallaServicios{
    margin-top: 5%;
    display: flex;
}

.mallaServicios img{
    margin-left: 10%;
}

.mallaServicios h3{
    margin-left: 40%;
    margin-top: -14%;
    display: block;
}

.mallaServicios p{
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
}

.web {
    margin-top: 4%;
}

.laptop {
    margin-top: -1.5%;
}

.linux {
    margin-top: -1.5%;
}

.seo {
    margin-top: 5%;
}

article {
    margin: 0% 2% 5% 2%;
    border: solid gray;
    border-radius: 10px;
    padding: 2% 0%;
}

.mallaTecnologias {
    text-align: center;
    padding-bottom: 3%;
}

.mallaTecnologias h1{
    padding-bottom: 2%;
}

.mallaClientes {
    margin: 3% 0% 3% 0%;
    text-align: center;
}

footer {
    padding: 1% 0% 1% 1%;
    background-color: #2597F4;
}

footer a {
    text-decoration: none;
    color: #f7f7f7;
}

footer a:hover{
    text-decoration: underline;
}